li {
    width: 50%;
    display: inline-block;
    list-style: none;
    margin-bottom: 15px;
}
span {
    display: block;
}
img {
    width: 100px;
    height: 130px;
    float: left;
    padding-right: 5px;
}
a {
    font-size: 25px;
    text-decoration: none;
}
a:visited {
    color: black;
}